@import "tailwindcss";

@theme {
  --color-primary: #004fc8;
  --color-accent: #10ae76;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-background: #F8FAFC;
  --color-card: #FFFFFF;
  --color-text-primary: #1E293B;
  --color-text-muted: #64748B;
  --color-border: #E2E8F0;
}

@layer base {
  body {
    @apply bg-background text-text-primary;
  }
}
